.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #bcbcbc; /* Dark background for contrast */
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px;  /* Adjust the width */
    height: auto;  /* Maintain aspect ratio */
  }
  
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 2rem; /* Space between navigation links */
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: white; /* White text for contrast */
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: color 0.3s ease; /* Smooth hover effect */
  }
  
  .nav-links a:hover {
    color: #f0a500; /* Change color on hover */
  }

  .project-list {
    list-style-position: inside;  /* This will place the numbers inside the list items */
    padding-left: 0;
  }
  
  .project-list li {
    margin-bottom: 2rem;  /* Adds spacing between projects */
  }
  
  .project-list li::marker {
    font-size: 1.5rem;  /* Adjust the size of the numbers if needed */
    color: #333;  /* Change the color of the numbers */
  }
  
  